@font-face {
  font-family: "RedHatText";
  src: url("./static/RedHatText-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}


@font-face {
  font-family: "RedHatText";
  src: url("./RedHatText-Italic-VariableFont_wght.ttf") format("truetype");
  font-weight: 100 900; /* variable range */
  font-style: italic;
}
