.cart {
    width: 350px;
    height: fit-content;
    border-radius: 5px;
    padding: 2rem;
    background-color: rgb(255, 255, 255);
}

.cart > h3 {
    color: rgb(255, 0, 0);
    font-size: 24px;
}

.cart > p {
    text-align: center;
}