

body {
  font-family: "RedHatText", sans-serif; /* normal static font */
}

h1 {
  font-family: "RedHatText", sans-serif;
  font-weight: 700; /* bold static */
}

p {
  font-family: "RedHatText", sans-serif;
  font-style: italic; /* variable italic */
  font-weight: 500;    /* works because variable font */
}

.parent-cart {
  background-color: blue;
  border: 2px solid black;
}