* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "RedHatText", sans-serif; /* normal static font */
}

h1 {
  font-family: "RedHatText", sans-serif;
  font-weight: 700; /* bold static */
}

p {
  font-family: "RedHatText", sans-serif;
  font-style: normal; /* variable italic */
  font-weight: 500;    /* works because variable font */
}

#root {
  border: 4px solid blue;
  background-color: rgb(247, 237, 237);
  padding: 3rem 4rem;
  display: flex;
  gap: 9px;
  justify-content: space-between;
}


@media (max-width: 600px) {

    #root {
      flex-direction: column;
      justify-content: center;
      align-items: center;
  }
}