.coffee-choice {
    width: 250px;
}

.parent-cart {
    display: grid;
    grid-template-columns: auto auto auto;
    max-width: 60%;
}

img {
    width: 220px;
    border-radius: 5px;
}

.cart-button {
    width: 130px;
    height: 30px;
    border-radius: 15px;
    border: none;
    position: relative;
    left: 45px;
    bottom: 20px;
    border: 2px solid gray;
}

.cart-button:hover {
    background-color: rgb(65, 47, 47);
    color: #ffffff;
    border: none;

}