.coffee-choice {
    background-color: brown;
    border: 2px solid black;
    width: 300px;
}

.parent-cart {
    display: grid;
    grid-template-columns: auto auto auto;
    max-width: 60%;
}

img {
    width: 200px;
}

.cart-button {
    width: 150px;
    height: 30px;
    border-radius: 15px;
    border: none;
}